{% extends "index.html" %}
{% load i18n %}
{% load base_tags %}
{% block content %}
<section id="about" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="center gap">
                <h2>A propos</h2>
            </div>
            <p>
                Resilience.mada fonctionne comme une base de données unique rassemblant, en open source, du contenu géospatial, des données et des documents relatifs aux aléas naturels à Madagascar. Géré par la Cellule de Prévention et d’appui à la Gestion des Urgences (CPGU), ce site a vocation à être alimenté de manière collaborative par les experts sectoriels nationaux et internationaux.
            </p>
        </div>
    </div>
</section>
<section id="partenaire">
    <div class="container">
        <div class="box last">
            <div class="center">
                <h2>Partenaires</h2>
            </div>
            <div class="gap"></div>
            <div id="team-scroller" class="carousel scale">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail " src="../static/img/partenaire/grma.jpg"
                                            alt=""></p>
                                    <h3>Global Risk Modelling Alliance</h3>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail "
                                            src="../static/img/partenaire/cpgu.png" alt=""></p>
                                    <h3>CPGU Madagascar</h3>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail "
                                            src="../static/img/partenaire/bngrc.png" alt=""></p>
                                    <h3>BNGRC Madagascar</h3>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail " src="../static/img/partenaire/ftm.png"
                                            alt=""></p>
                                    <h3>FTM Madagascar</h3>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <a class="left-arrow" href="#team-scroller" data-slide="prev">
            <i class="icon-angle-left icon-4x"></i>
        </a>
        <a class="right-arrow" href="#team-scroller" data-slide="next">
            <i class="icon-angle-right icon-4x"></i>
        </a>
    </div>

</section>
{% endblock %}
{% block container %}{% endblock %}
{% block ms_scripts %}{% endblock %}
