{% extends 'geonode-mapstore-client/snippets/topbar.html' %}
{% block left_menu %}

{% load custom_tags %}
{% get_base_left_topbar_menu_custom as BASE_TOPBAR_MENU_LEFT_CUSTOM %}
<div class="dropdown">
    <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="gn-topbar-small-menu"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
    >
        <i class="fa fa-bars"> </i>
    </button>
    <ul
        class="dropdown-menu"
        aria-labelledby="gn-topbar-small-menu"
    >
        {% for menu_item in BASE_TOPBAR_MENU_LEFT_CUSTOM %}
            {% include './menu_item_compact.html' with menu_item=menu_item %}
        {% endfor %}
        {% for menu_item in TOPBAR_MENU %}
            {% include './menu_item_compact.html' with menu_item=menu_item variant='primary' %}
        {% endfor %}
        {% for menu_item in TOPBAR_MENU_LEFT %}
            {% include './menu_item_compact.html' with menu_item=menu_item %}
        {% endfor %}

    </ul>
</div>
<ul class="gn-menu-list">
    {% for menu_item in BASE_TOPBAR_MENU_LEFT_CUSTOM %}
        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
    {% endfor %}
    {% for menu_item in TOPBAR_MENU %}
        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
    {% endfor %}
    {% for menu_item in TOPBAR_MENU_LEFT %}
        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
    {% endfor %}
</ul>
{% endblock %}