.gn-homepage #feature .row {
    background: #f3f3f3;
    border-bottom: 1px solid #e9e9e9;
}

.gn-homepage #feature .thema {
    margin-left: 100px;
}

.gn-homepage .feature-wrap {
    overflow: hidden;
}

.gn-homepage .feature-wrap i {
    font-size: 48px;
    background-color: #ffffff;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.gn-homepage .cyclone {
    background: url(../img/icone/cyclone.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .mvt {
    background: url(../img/icone/mvt.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .inondation {
    background: url(../img/icone/inond.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .pluie {
    background: url(../img/icone/pluies.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .bati {
    background: url(../img/icone/bati.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .population {
    background: url(../img/icone/population.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .sech {
    background: url(../img/icone/sech.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}

.gn-homepage .other {
    background: url(../img/icone/autre.png) no-repeat 0px 0px;
    width: 50px;
    display: block;
    margin: 0 10%;
    text-align: center;
}


.gn-homepage .feature-wrap h2 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    line-height: 24px;
}

.gn-homepage h2 {
    font-size: 20px;
}

.gn-homepage h3 {
    font-size: 14px;
}

.gn-homepage h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

.gn-homepage .center {
    text-align: center;
}

.gn-homepage .center h2 {
    color: #0B243B;
    margin-bottom: 10px;
    font-size: 30px;
}

.gn-homepage #partenaire {
    padding-bottom: 60px;
}

.gn-homepage #partenaire .box {
    background: #fff;
}

.gn-homepage .member h3 {
    margin-top: 1px;
}

.gn-homepage .box.first {
    margin-top: -60px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.gn-homepage .box.last {
    border-radius: 0 0 5px 5px;
}

.gn-homepage .box {
    padding: 5px 0px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.gn-homepage .box {
    margin-left: -15px;
    margin-right: -15px;
}

.gn-homepage #partenaire .row {
    margin-left: 30px;
    margin-right: 30px;
}

.gn-homepage .col-sm-2 {
    width: 20%
}

.gn-homepage .member h3 {
    margin-top: 1px;
}

.gn-homepage .member p {
    margin: 0 0 5px;
}

.gn-homepage section + section {
    margin-top: 20px;
}
