#feature .row {
    background: #f3f3f3;
    border-bottom: 1px solid #e9e9e9;
	
}

#feature .thema {
   margin-left: 100px;
   /*margin-right: 30px;*/
}

element.style {
    visibility: visible;
    animation-duration: 1000ms;
    animation-delay: 600ms;
    animation-name: fadeInDown;
}

.feature-wrap {
    overflow: hidden;
}

.feature-wrap i {
	
    font-size: 48px;
	background-color:#ffffff;
	background-position: center;
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
   
}
.cyclone{
   background:url(../img/icone/cyclone.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.mvt{
   background:url(../img/icone/mvt.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.inondation{
   background:url(../img/icone/inond.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.pluie{
   background:url(../img/icone/pluies.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.bati{
   background:url(../img/icone/bati.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.population{
   background:url(../img/icone/population.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}

.sech{
   background:url(../img/icone/sech.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}

.other{
   background:url(../img/icone/autre.png) no-repeat 0px 0px;
    width:50px;
    display:block;
    margin:0 10%;
	text-align: center;

}
.single-services h2 {
    font-size: 18px;
}

.feature-wrap h2 {
	font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    color: #777;
	line-height: 24px;
}
h2 {
    font-size: 20px;
	
}


h3 {
    font-size: 14px;
}
h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}


.center {
    text-align: center;
}
.center h2{
	color: #0B243B;
	margin-bottom: 10px;
    font-size: 30px;
}
.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}


.portfolio-items.col-4>li {
    width: 25%;
	
}
.portfolio-items{
    list-style: none;
    padding: 0;
    margin:0;
}

.portfolio-item .item-inner {
	margin: 0 20px 20px 0;
    text-align: center;
    background: #F5F5F5;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.portfolio-image {
    position: relative;
}
.portfolio-item h5 {
    margin: 0;
    padding: 10px 0 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#about {
   
	position: relative;
    
}
#partenaire .box {
    background: #fff;
    
    
}
.member h3{
	margin-top:1px;
}

.box.first {
    margin-top: -60px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}
.box.last {
    border-radius: 0 0 5px 5px;
}

.box {
    padding: 5px 0px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.box {
    margin-left: -15px;
    margin-right: -15px;
}
#partenaire .row {
    margin-left: 30px;
    margin-right: 30px;
}
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
    max-height:auto;    
}

.col-sm-2{
width:20%
}
.member h3{
	margin-top:1px;
}
.member p {
    margin: 0 0 5px;
}

