{% verbatim %}

<article ng-repeat="part in part" ng-cloak class="ng-cloak">
<div class="views-field views-field-field-icon">        
  <div class="field-content"><a href="">
  <img typeof="foaf:Image" src="{{part.logo}}" width="1750" height="350" alt=""></a></div>  
  </div>  
  <div class="views-field views-field-title">        
  <h4 class="field-content"><a href="">{{part.nom_organisation}}</a></h4>  
  </div>  
  <div class="views-field views-field-body">       
  <div class="field-content">
  <p>Office Nationnal de Nutrition.</p>
  </div>  
  </div>  
</article>
{% endverbatim %}
